body
{
  margin-top: 20px;
  font-size: 20px;
  background-color: black;
}
button
{
  margin: 50px auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 400px;
  display: block;
  max-width: 700px;
  border: 1px solid black;
}
h1{
  font-size: 100px;
  color: red;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}
button 
{ 
font-size: 20px;
color: black;
border:double 5px black;
}

button:visited { color: black; text-decoration: underline= non}
button:focused { color: black; }

button + button { margin-top: 1px;  padding: 20px; }

button:hover {
    background-color: red; /* Green */
    color: white;
}

div
{
  font-size: 20px;
  margin-top: 100px;
  text-align: center;
  background-color: green;
  max-width: 720px;
  padding: 1px;
  opacity: 0.95;
  border: 5px solid yellow;
  margin: auto;
}
#Writes
{
 font-size: 30px;
  color: red;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}
#Title
{
 font-size: 50px;
  color: red;
  color: yellow;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}
#button1
{
 max-width: 130px;
}