* 
{
	background-color: blue; 
	padding-top: 2px;
	margin: 0;
}
canvas 
{
	border: 7px double gray;
 	display: block;
 	margin: 0 auto; 
 	background-color: black;
}
#audio
{
	visibility: hidden;
}
#HOME
{
	margin-left: 415px;
	margin-top: 10px;
	max-width: 30px;
	background-color: black;
}
#NEXT
{
	margin-left: 235px;
	margin-top: 10px;
	background-color: black;
	width: 300px;
}
a
{
	color: white;
	top: 15px;
}
a:hover
{
	color:red;
}
b
{
	top: 30px;
	font-size: 50px;
	margin-top: 40px;
	padding-left: 210px; 
	padding-top: 110px;
	color: white;
    color: white;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
}
#logo
{
 position: absolute;
 text-align: center;
}
button
{
	border:double 5px gray;
	max-width: 200px;
	font-size: 20px;
	color: white;
	padding-left: 10px;
	background-color: black;
}
p
{
	background-color: black;
}