* 
{
	background-color: black; 
	padding: 0;
	margin: 0;
}
canvas 
{
	border: 3px solid white;
 	display: block;
 	margin: 0 auto; 
 	background-repeat: no-repeat;
 	background-size: 100% 110%;
}
#audio
{
	visibility: hidden;
}